
$size_1: 0.5rem;
$size-2: 1.0rem;
$size-3: 1.5rem;
$size-4: 2.0rem;
$size-5: 2.5rem;
$size-6: 3.0rem;
$size-7: 3.5rem;

.mt-1 {  margin-top: $size-1; }
.mt-2 {  margin-top: $size-2; }
.mt-3 {  margin-top: $size-3; }
.mt-4 {  margin-top: $size-4; }
.mt-5 {  margin-top: $size-5; }
.mt-6 {  margin-top: $size-6; }
.mt-7 {  margin-top: $size-7; }

.mr-1 {  margin-right: $size-1; }
.mr-2 {  margin-right: $size-2; }
.mr-3 {  margin-right: $size-3; }
.mr-4 {  margin-right: $size-4; }
.mr-5 {  margin-right: $size-5; }
.mr-6 {  margin-right: $size-6; }
.mr-7 {  margin-right: $size-7; }

.mb-1 {  margin-bottom: $size-1; }
.mb-2 {  margin-bottom: $size-2; }
.mb-3 {  margin-bottom: $size-3; }
.mb-4 {  margin-bottom: $size-4; }
.mb-5 {  margin-bottom: $size-5; }
.mb-6 {  margin-bottom: $size-6; }
.mb-7 {  margin-bottom: $size-7; }

.ml-1 {  margin-left: $size-1; }
.ml-2 {  margin-left: $size-2; }
.ml-3 {  margin-left: $size-3; }
.ml-4 {  margin-left: $size-4; }
.ml-5 {  margin-left: $size-5; }
.ml-6 {  margin-left: $size-6; }
.ml-7 {  margin-left: $size-7; }

.pt-1 {  padding-top: $size-1; }
.pt-2 {  padding-top: $size-2; }
.pt-3 {  padding-top: $size-3; }
.pt-4 {  padding-top: $size-4; }
.pt-5 {  padding-top: $size-5; }
.pt-6 {  padding-top: $size-6; }
.pt-7 {  padding-top: $size-7; }

.pr-1 {  padding-right: $size-1; }
.pr-2 {  padding-right: $size-2; }
.pr-3 {  padding-right: $size-3; }
.pr-4 {  padding-right: $size-4; }
.pr-5 {  padding-right: $size-5; }
.pr-6 {  padding-right: $size-6; }
.pr-7 {  padding-right: $size-7; }

.pb-1 {  padding-bottom: $size-1; }
.pb-2 {  padding-bottom: $size-2; }
.pb-3 {  padding-bottom: $size-3; }
.pb-4 {  padding-bottom: $size-4; }
.pb-5 {  padding-bottom: $size-5; }
.pb-6 {  padding-bottom: $size-6; }
.pb-7 {  padding-bottom: $size-7; }

.pl-1 {  padding-left: $size-1; }
.pl-2 {  padding-left: $size-2; }
.pl-3 {  padding-left: $size-3; }
.pl-4 {  padding-left: $size-4; }
.pl-5 {  padding-left: $size-5; }
.pl-6 {  padding-left: $size-6; }
.pl-7 {  padding-left: $size-7; }





